<ion-view >


  <ion-content ng-controller="chatCtrl">
    <div class="bar bar-header bar-calm">
      <h1 class="title">Chat</h1>
    </div>
    <br><br>



    <div class="list card">

      <a class="item item-avatar"  ng-repeat="chat in chatList">
        <!--pre>{{chat | json}} </pre-->
        <img src="https://cdn4.iconfinder.com/data/icons/mayssam/512/user-128.png">
        <h2 ng-bind="chat.nick"></h2>
        <p ng-bind="chat.message"></p>
      </a>
    </div>


    



    <div class="bar-balanced">

      <div class="item item-input-inset">
         <input type="text" placeholder="Nick" ng-model="nick" >
        <label class="item-input-wrapper">
          <input type="text" placeholder="Message" ng-model="message">
        </label>
        <button class="button button-small" ng-click="send()" value="Submit">
          <span class="icon ion-android-send"></span>
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>



